.counter {
  /* TODO */
 height:40px;
 width:130px;
margin: auto;

}
.counter>button{
  padding: 8px 12px;
  background-color: #8197e8;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border:none
}
.span{
  width:30px;
  padding: 8px 12px;
    border-radius: 4px;
    border-top:1px solid #eeeeee ;
    border-bottom: 1px solid #eeeeee;
   
}